{% extends 'store/main.html' %}
{% load static %}
{% block title %}{{product.name}}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <ul class="list-group">
                            <li class="list-group-item"><h1>{{product.name}}</h1></li>
                            <li class="list-group-item"><h2>{{product.price|floatformat:2}} $</h2></li>
                            <li class="list-group-item"><h4>
                                {% if product.description %}
                                    {{product.description}}
                                {% else %}
                                    Description is empty
                                {% endif %}
                            </h4></li>
                            <li class="list-group-item"><h4>Digital: {{product.digital}}</h4></li>
                            <li class="list-group-item">
                                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                                <a class="btn btn-outline-info add-btn update-cart" href="{% url 'store:share' product.id %}" role="button">Share with Email</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm">
                        <img class="img-thumbnail" src="{{product.imageURL}}" alt="product image">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
